.jss1{
    padding: 120px 0 80px 0;
    background: url("https://tcdtist-tix-clone.vercel.app/static/media/backapp.b46ef3a1.jpg");
    background-size: contain;
    .jss2{
    font-size: xx-large;
    font-weight: 700;
    margin-bottom: 8px;
    }
    .jss3{
    font-size: medium;
    margin-top: 16px;
    margin-bottom: 8px;
    }
    .jss4{
        border: none;
        padding: 8px 32px;
        font-size: medium;
        margin-top: 16px;
        font-weight: 700;
        border-radius: 4px;
        background-color: #fb4226;
        display: inline-block;
    }
    .jss5{
        height: auto;
        display: block;
        padding: 0 28%;
        position: relative;
        max-width: 100%;
    }
}
